@use "../../assets/scss/mixin" as *;
@use "../../assets/scss/variables" as *;
@use "../../assets/scss/font" as *;

.project-card {
  width: 100%;
  padding: 1.5rem;
  .pr-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      align-items: stretch;
    }
    .card-bg {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 100%;
      opacity: 0;
      transform: translateY(20px);
      transition:
        opacity 0.5s ease,
        transform 0.5s ease;

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }
      &:hover {
        img {
          animation: float 1.5s ease-in-out infinite;
        }
      }
      .box-top {
        // height: 300px;
        position: relative;
        padding: 4rem 1.5rem;
        border-radius: 24px 24px 0 0;
        background: var(--color-main);
        @include tablet {
          height: clamp(300px, 40vw, 600px);
        }
        .card-img1 {
          position: absolute;
          bottom: 24px;
          right: 24px;
          width: clamp(59px, 15vw, 80px);
          z-index: 2;
          img {
            width: 100%;
          }
          @include desktop {
            width: clamp(80px, 15vw, 100px);
          }
        }
        .card-img2 {
          z-index: 1;
          img {
            width: 100%;
          }
        }
        &.different-card {
          width: 100%;
          .card-img2 {
            @include flex-layout();
            height: 100%;
            width: 100%;
            img {
              width: clamp(87px, 15vw, 200px);
              height: auto;
            }
          }
        }
      }
    }
  }
  .txt-box {
    flex: 1;
    padding: 1.5rem;
    border-radius: 0 0 24px 24px;
    background: rgba(255, 255, 255, 0.1);
    @include flex-layout(column, space-between, flex-start, 1rem);
    .txt-top {
      @include flex-layout(row, space-between);
      width: 100%;
      .proname {
        @include font-h4;
      }
      .detail {
        font-size: 18px;
        color: var(--color-font-sub);
      }
    }
    .txt-mid {
      @include flex-layout(column, center, flex-start, 0.5rem);
      @include font-cap;
    }
    .prosub {
      flex: 1;
      p {
        margin: 0;
      }
    }
    .skills {
      @include flex-layout(row, flex-start, flex-start, 0.5rem);
      flex-wrap: wrap;
      span {
        @include font-small;
        padding: 0.5rem 1rem;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 24px;
      }
    }
  }
}

// 애니메이션
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); // 위로 5px 이동
  }
  100% {
    transform: translateY(0); // 원위치
  }
}
// modal
.project-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  .modal-content {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    .btn {
      padding: 0.5rem;
      @include flex-layout(row, flex-end);
      width: 100%;
      .close-btn {
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        cursor: pointer;
        color: var(--color-white);
      }
    }
  }
}
